body {
    background-color: #2c2c2c;
}

table {
    width: 40% ;
    height: auto;
    background-color: #2f2f2f;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-collapse: collapse;
    border: 1px solid #565656;
    padding: 2px;
    color: #858585;
    text-indent: 5px;
}

.first-column  {
    width: 48%;
}

.second-column {
    width: 48%;
}

.third-column {
    width: 4%;
}

.background-search {
    background-color: #444444;
}

th {
    color: #e2e2e2;
    text-align: left;
}

tr {
    height: 4vh;
    border: 1px solid #565656;
}

tbody> tr :first-child{
    color:#e6e6e6;
}

tbody> tr :last-child{
    font-size: 24px;
    color:#e6e6e6;
    padding: 5px;
}

#check-box {
    color: #2596be;
}